<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
    <form method="POST" enctype="multipart/form-data"> <!--enctype para mostrar os arquivos de mídia-->
        {% csrf_token %} <!--Para segurança dos dados do form-->
        {{ form }}
        <button type="submit">Salvar</button>
    </form>
</body>
</html>